@import "~bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/react-modal-video/scss/modal-video.scss";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "react-datetime-picker/dist/DateTimePicker.css";
@import "react-calendar/dist/Calendar.css";
@import "react-clock/dist/Clock.css";
@import "../assets/css/pages.css";
@import "../assets/scss/main.scss";
@import "../assets/css/newBlog.scss";

.slick-dots {
  margin-top: 70px !important; /* Adjust the values as needed */
}

.sticky-colm {
  position: sticky;
  top: 82px;
  height: 82vh; /* Adjust the height as needed */
  //   background-color: #f5f5f5; /* Add background color or styles as desired */
}

.modal-notifications .ant-modal-content {
  background: transparent;
  box-shadow: none;
}
// .phone-input-group {
//   position: relative;
// }

// .phone-input-group .flag-dropdown {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 12px;
//   pointer-events: none;
// }

#mascot {
  height: 450px !important;
}

.faq__accordion .accordion-cards {
  margin-bottom: 20px !important;
  border: none !important;
  // background: transparent !important;
  background: white !important;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(3, 0, 53, 0.1);
}

.profiles-card:hover {
  box-shadow: 5px 10px rgba(15, 63, 93, 1);
}

.CardieBg {
  background-image: linear-gradient(329deg, rgba(49, 175, 152, 1) 0%, rgba(15, 63, 93, 1) 100%);
}

.profile-small-card {
  width: 400px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}

.stats {
  background: #f2f5f8 !important;

  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}

// .div.ant-card-head {
//   background-image: linear-gradient(329deg, rgba(49, 175, 152, 1) 0%, rgba(15, 63, 93, 1) 100%) !important;
// }

#color .ant-card-head {
  background-image: linear-gradient(329deg, rgba(49, 175, 152, 1) 0%, rgba(15, 63, 93, 1) 100%) !important;
  color: white;
}
